:root {
  --primary-color-dark: #333;
  --primary-color-darker: #111;
  --secondary-color: #444;
  --background-light: #f1f1f1;
  --border-color: #ddd;
  --title-line: #33333333;
  --text-color-dark: #555;
  --text-color-muted: #666;
  --highlight-color: #fff;
  --button-hover-color: #222;
  --box-shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------- RESET DO TEMA ------------------------------------------------------- */

/* Remove margens e paddings padrões do tema para a página do plugin */
body.local-catalogo .main-inner {
  margin: 0 !important;
  padding: 0 !important;
}

body.local-catalogo #page.drawers,
body.local-catalogo div[role="main"] {
  padding: 0 !important;
}

/* Esconde e limpa a barra de navegação secundária e o cabeçalho */
body.local-catalogoo .secondary-navigation,
body.local-catalogo #page-header {
  display: none;
}

/* ------------------------------------------------------- ESTILOS DO CATÁLOGO DE EDITAIS ------------------------------------------------------- */

/* -------------------------------------- Heading ----------------------------------------------------------------------------*/

#catalogo-heading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--primary-color-dark),
    var(--primary-color-darker)
  );
  padding: 40px 180px;
  margin-bottom: 1em;
  box-shadow: var(--box-shadow-heavy);
}

#catalogo-heading-section h1 {
  color: var(--highlight-color) !important;
  font-weight: bold;
}

/* -------------------------------------- Container para busca e filtro -----------------------------------------------------*/

.catalogo-page-wrapper {
  padding: 0 3em;
}

#catalogo-filter-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  margin-bottom: 20px;
}

#catalogo-filter-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#catalogo-filter-container label {
  display: block;
  font-weight: bold;
  color: var(--text-color-dark);
  margin-bottom: 5px;
}

#catalogo-filter-container input,
#catalogo-filter-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-color-dark);
  background-color: var(--highlight-color);
  box-shadow: var(--box-shadow-light) inset;
}

#catalogo-filter-container button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--highlight-color);
  background-color: var(--primary-color-dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#catalogo-filter-container button:hover {
  background-color: var(--button-hover-color);
}

/* Estilo para o container do input e botão */
.catalogo-input-button-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px; /* Espaço entre os campos */
  margin: 0;
}

.catalogo-input-button-wrapper input,
.catalogo-input-button-wrapper select,
.catalogo-input-button-wrapper button {
  height: 40px; /* Define uma altura fixa para todos os elementos */
  padding: 0 10px; /* Ajusta o preenchimento interno */
  box-sizing: border-box; /* Garante que padding e border sejam incluídos no cálculo da altura */
  font-size: 1rem; /* Uniformiza o tamanho da fonte */
  border-radius: 4px; /* Deixa todos os elementos com bordas arredondadas iguais */
  border: 1px solid var(--border-color); /* Uniformiza as bordas */
}

.catalogo-input-button-wrapper input,
.catalogo-input-button-wrapper select {
  flex: 1; /* Faz com que o input ou select ocupe o máximo de espaço disponível */
}

.catalogo-input-button-wrapper button {
  flex-shrink: 0; /* Impede que o botão encolha */
}

/* -------------------------------------- Container da lista de editais -----------------------------------------------------*/

/* Container principal */
#catalogo-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
}

/* Contador de editais */
.catalogo-list-count {
  font-size: 1rem;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

/* Lista de editais */
.catalogo-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Item de edital */
.catalogo-list-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: var(--box-shadow-light);
  gap: 20px;
}

.catalogo-item-content {
  display: flex;
  gap: 15px;
}

.catalogo-item-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.catalogo-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catalogo-item-title {
  font-size: 1.2rem;
  color: var(--primary-color-dark);
  font-weight: bold;
}

.catalogo-item-organization {
  font-size: 0.9rem;
  color: var(--text-color-muted);
}

.catalogo-item-interests {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.catalogo-tag {
  background-color: var(--secondary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 0.8rem;
}

/* Botão de acesso */
.catalogo-item-button {
  background-color: var(--primary-color-dark);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.catalogo-item-button:hover {
  background-color: var(--button-hover-color);
}

/* Paginação */
.catalogo-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.catalogo-page-button {
  background-color: var(--primary-color-dark);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.catalogo-page-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}
