{{!
/**
 * Template Mustache para o Catálogo de Cursos.
 *
 * Este arquivo é responsável por renderizar a interface do catálogo, exibindo
 * uma lista de cursos ou uma mensagem caso nenhum curso esteja disponível.
 *
 * @package   local_catalogo
 * @author    Breno Augusto
 * @email     brenoaugusto@uems.br
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
}}
<!-- Heading da página -->
<section id="catalogo-heading-section">
    <a href="http://localhost/local/catalogo/view.php" class="text-decoration-none">
        <h1>EDITAIS</h1>
    </a>
</section>

<!-- Page Wrapper -->
<div class="catalogo-page-wrapper">
    
    <!-- Container para a busca e o filtro -->
    <div id="catalogo-filter-container">
       
        <!-- Seção de filtro por categorias -->
        <section id="catalogo-filter-section">
            <form method="get" action="{{baseurl}}">
                <label for="catalogo-category">Filtrar por categoria:</label>
                <div class="catalogo-input-button-wrapper">
                    <select id="catalogo-category" name="category">
                        <!-- Primeiro option mostra a categoria ativa ou "Todas as categorias" -->
                        {{#active_category}}
                            <option value="">{{active_category}}</option>
                        {{/active_category}}
                        {{^active_category}}
                            <option value="">Todas as categorias</option>
                        {{/active_category}}
                        
                        <!-- Lista de todas as categorias -->
                        {{#categories}}
                            <option value="{{id}}" {{#is_selected}}selected{{/is_selected}}>{{name}}</option>
                        {{/categories}}
                    </select>

                    <!-- Botão Filtrar -->
                    <button type="submit" title="Filtrar" class="catalogo-filter-button">
                        <i class="fa-solid fa-filter"></i>
                    </button>

                    <!-- Botão Limpar Filtro -->
                    <button type="button" title="Limpar Filtro" class="catalogo-filter-button" onclick="window.location.href='{{baseurl}}'">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form>
        </section>

    </div>
    
    
    <!-- Container principal da lista de editais -->
    <div id="catalogo-list-container">
    
        <!-- Quantidade de editais encontrados -->
        <p class="catalogo-list-count">{{#courses}}{{count}}{{/courses}} editais encontrados.</p>
    
        <!-- Lista de editais -->
        <div class="catalogo-list-wrapper">
            <!-- Item de edital -->
            {{#courses}}
            <div class="catalogo-list-item d-flex flex-md-row flex-column">
                <div class="catalogo-item-content">
                    <!-- Imagem ou logotipo -->
                    <a href="{{intropage_url}}" target="_blank" class="catalogo-item-image">
                        <img src="https://picsum.photos/200?random={{id}}" alt="Logotipo do edital {{fullname}}">
                    </a>
    
                    <!-- Informações principais -->
                    <div class="catalogo-item-info d-flex">
                        <!-- Organização -->
                        <p class="catalogo-item-category m-0">{{category.path}}</p>
                        <!-- Título do edital -->
                        <a href="{{intropage_url}}" target="_blank">
                            <h5 class="catalogo-item-title m-0">{{fullname}}</h5>
                        </a>
                        
                        <!-- Descrição do Edital -->
                        <p class="catalogo-item-summary">{{summary}}</p>
    
                        <!-- Público-Alvo -->
                        
                        {{#custom_fields.hastarget}}
                        <div class="catalogo-item-interests mt-auto">
                            <p class="text-muted small m-0">Público-Alvo:</p>
                            <div class="catalogo-interest-tags">
                                {{#custom_fields.target_tags}}
                                <span class="catalogo-tag">{{.}}</span>
                                {{/custom_fields.target_tags}}
                            </div>
                        </div>
                        {{/custom_fields.hastarget}}
                    
                    </div>
                </div>
    
                <!-- Informações adicionais e botão -->
                <div class="catalogo-item-extra">
                    <!-- Prazo de inscrição -->
                    <div class="catalogo-item-dates">
                        <p class="catalogo-deadline">
                            Inscrições até: <strong>{{enrolment.enrolend}}</strong>
                        </p>
                    </div>
    
                    <!-- Botão de acesso -->
                    <a href="{{intropage_url}}" target="_blank" class="catalogo-item-button">Ir para o Edital</a>
                </div>
            </div>
            {{/courses}}
        </div>
    
        <!-- Paginação -->
        <div class="catalogo-pagination">
            <div class="catalogo-pagination-info">
                <p>Página 1 de 4</p>
            </div>
            <div class="catalogo-pagination-controls">
                <button class="catalogo-page-button" disabled>Anterior</button>
                <button class="catalogo-page-button">Próximo</button>
            </div>
        </div>
    </div>
</div>
