{{!
/**
 * Template Mustache para o Catálogo de Cursos.
 *
 * Este arquivo é responsável por renderizar a interface do catálogo, exibindo
 * uma lista de cursos ou uma mensagem caso nenhum curso esteja disponível.
 *
 * @package   local_catalogo
 * @author    Breno Augusto
 * @email     brenoaugusto@uems.br
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
}}

<ul>
    {{#courses}}
    <li>
        <a href="{{url}}">{{fullname}}</a>
    </li>
    {{/courses}}
</ul>

{{^courses}}
<p>Nenhum curso disponível no momento.</p>
{{/courses}}

