{{!
/**
 * Template Mustache para o Catálogo de Cursos.
 *
 * Este arquivo é responsável por renderizar a interface do catálogo, exibindo
 * uma lista de cursos ou uma mensagem caso nenhum curso esteja disponível.
 *
 * @package   local_catalogo
 * @author    Breno Augusto
 * @email     brenoaugusto@uems.br
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
}}
<!-- Heading da página -->
<section id="catalogo-heading-section">
    <h1>EDITAIS</h1>
</section>

<!-- Page Wrapper -->
<div class="catalogo-page-wrapper">
    
    <!-- Container para a busca e o filtro -->
    <div id="catalogo-filter-container">
       
        <!-- Seção de filtro por categorias -->
        <section id="catalogo-filter-section">
            <form method="get" action="{{baseurl}}">
                <label for="catalogo-category">Filtrar por categoria:</label>
                <div class="catalogo-input-button-wrapper">
                    <select id="catalogo-category" name="category">

                        <!-- Lista de todas as categorias -->
                        <option value="">Todas as Categorias</option>
                        {{#categories}}
                            <option value="{{id}}" 
                                    {{#is_selected}}selected{{/is_selected}}
                                    class="{{#is_parent}}catalogo-category-parent{{/is_parent}}">
                                {{^is_parent}}&emsp;{{/is_parent}}{{name}}
                            </option>
                        {{/categories}}
                    </select>


                    <!-- Botão Filtrar -->
                    <button type="submit" title="Filtrar" class="catalogo-filter-button">
                        <i class="fa-solid fa-filter"></i>
                    </button>

                    <!-- Botão Limpar Filtro -->
                    <button type="button" title="Limpar Filtro" class="catalogo-filter-button" onclick="window.location.href='{{baseurl}}'">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form>
        </section>

    </div>
    
    
    <!-- Container principal da lista de editais -->
    <div id="catalogo-list-container">
    
        <!-- Quantidade de editais encontrados -->
        <p class="text-muted mb-2 px-4">{{course_count}} editais encontrados.</p>
    
        <!-- Lista de editais -->
        <div class="catalogo-list-wrapper">
            <!-- Item de edital -->
            {{#courses}}
            <div class="catalogo-list-item d-flex flex-md-row flex-column">
                <div class="catalogo-item-content">
                    <!-- Exemplo ajustando o layout quando oculto -->
                    <a href="{{intropage_url}}" target="_blank" class="catalogo-item-image align-self-center d-none d-md-block ms-md-3">
                        <img src="{{{config.wwwroot}}}/local/catalogo/pix/category-img/P-IC.png" alt="Logotipo do edital {{fullname}}">
                    </a>
    
                    <!-- Informações principais -->
                    <div class="catalogo-item-info d-flex">
                        <!-- Organização -->
                        <p class="catalogo-item-category m-0">{{category.path}}</p>
                        <!-- Título do edital -->
                        <a href="{{intropage_url}}" target="_blank">
                            <h5 class="catalogo-item-title m-0">{{fullname}}</h5>
                        </a>
                        
                        <!-- Descrição do Edital -->
                        <p class="catalogo-item-summary">{{summary}}</p>
    
                        <!-- Público-Alvo -->
                        
                        {{#custom_fields.hastarget}}
                        <div class="catalogo-item-interests mt-auto">
                            <p class="text-muted small m-0 d-none">Público-Alvo:</p>
                            <div class="catalogo-interest-tags">
                                {{#custom_fields.target}}
                                <span class="catalogo-tag">{{.}}</span>
                                {{/custom_fields.target}}
                            </div>
                        </div>
                        {{/custom_fields.hastarget}}
                    
                    </div>
                </div>
    
                <!-- Informações adicionais e botão -->
                <div class="catalogo-item-extra d-flex flex-column align-items-md-center justify-content-between">
                    
                    <!-- Container da data -->
                    <div class="catalogo-item-dates-container d-flex flex-column align-items-start mb-3 mb-md-0">
                        <p class="catalogo-date-label text-muted small mb-1">Inscrições até:</p>
                        <p class="catalogo-date-deadline text-dark h5 m-0"><strong>{{enrolment.enrolend}}</strong></p>
                    </div>

                    <!-- Botão de acesso -->
                    <div class="catalogo-item-button-container text-md-right">
                        <a href="{{intropage_url}}" class="catalogo-item-button btn btn-primary">Ir para o Edital</a>
                    </div>
                </div>

            </div>
            {{/courses}}
        </div>
    </div>
</div>
