<div class="intropage-header">
    <h1>{{fullname}}</h1>
</div>

<div class="intropage-content">

    <!-- Main Content -->
    <div class="intropage-main">
        <div class="intropage-section d-flex">
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-calendar-alt"></i>
                    <strong>Inscrições:</strong>
                </div>

                {{#custom_fields.hasfluxo}}  <!-- Se hasfluxo for true (Fluxo Contínuo) -->
                    <div class="intropage-item-dates-container">
                        <p class="intropage-date-continuous"><strong>Fluxo Contínuo</strong></p>
                    </div>

                {{/custom_fields.hasfluxo}}

                {{^custom_fields.hasfluxo}}  <!-- Se não for fluxo contínuo -->
                    <!-- Período de inscrições -->
                    <div class="d-flex flex-row flex-wrap intropage-enroll-date px-3 pt-3">
                        <div class="d-flex align-items-center">
                            <span class="text-muted mx-2 mb-2">De:</span>
                            <strong class="h3 mr-5 text-nowrap">{{enrolment.enrolstart}}</strong>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="text-muted mx-2 mb-2">Até:</span>
                            <strong class="h3">{{enrolment.enrolend}}</strong>
                        </div>
                    </div>

                    <!-- Legenda -->
                    <div class="intropage-legend text-muted fw-light mx-2">
                        GMT-04 (Horário Padrão do MS)
                    </div>
                {{/custom_fields.hasfluxo}}

            </div>
        </div>

        <!-- Detalhes -->
        <div class="intropage-section">
            <h3 class="intropage-title">Detalhes</h3>
            <p>{{summary}}</p>
        </div>

        <!-- Selos da ODS -->
        <div class="intropage-section">
            <h3 class="intropage-title">Objetivos de Desenvolvimento Sustentável (ODS)</h3>
            <div class="intropage-ods-badges">
                {{#custom_fields.ods}}
                    <div class="ods-badge">
                        <img src="{{baseurl}}/pix/sdg/SDG-{{.}}.svg" alt="ODS {{.}}" class="ods-badge">
                    </div>
                {{/custom_fields.ods}}
                {{^custom_fields.ods}}
                    <p>Nenhum ODS informado.</p>
                {{/custom_fields.ods}}
            </div>
        </div>

        <!-- Botão de voltar ao catálogo -->
        <div class="intropage-button-collection">
            <a href="{{baseurl}}/view.php" class="intropage-button intropage-back-button">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Voltar ao Catálogo</span>
            </a>
        </div>

    </div>

    <!-- SIDEBAR -->
    <div class="intropage-sidebar">
        <div class="intropage-button-collection">
            {{#custom_fields.edital}}
            <a href="{{custom_fields.edital}}" class="intropage-button bg-light border" target="_blank">
                <span class="text-dark">Edital</span> <i class="fa-solid fa-newspaper text-dark d-flex justify-content-end"></i>
            </a>
            {{/custom_fields.edital}}

            {{^custom_fields.edital}}
            <div class="intropage-button bg-light border">
                <span class="text-black-50 intropage-big-word">Edital Indisponível</span> <i class="fa-solid fa-newspaper text-black-50 d-flex justify-content-end"></i>
            </div>
            {{/custom_fields.edital}}

            {{#enrolment.button.url}}
                <a href="{{enrolment.button.url}}" class="intropage-button">
                    <span class="">{{enrolment.button.text}}</span><i class="{{enrolment.button.icon}} d-flex justify-content-end"></i>
                </a>
            {{/enrolment.button.url}}
        </div>

        <div class="intropage-section m-0">
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-layer-group"></i>
                    <strong>Categoria:</strong>
                </div>
                <p class="intropage-info-text">{{category.path}}</p>
            </div>

            <!-- Público-alvo -->
            {{#custom_fields.hastarget}}
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-users"></i>
                    <strong>Público-Alvo:</strong>
                </div>
                <div class="intropage-interest-tags">
                    {{#custom_fields.target}}
                    <span class="intropage-tags">{{.}}</span>
                    {{/custom_fields.target}}
                </div>
            </div>
            {{/custom_fields.hastarget}}
        </div>
    </div>
</div>
