<div class="intropage-header">
    <h1>{{fullname}}</h1>
</div>

<div class="intropage-content">

    <!-- Main Content -->
    <div class="intropage-main">
        <div class="intropage-section d-flex">
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-calendar-alt"></i>
                    <strong>Inscrições:</strong>
                </div>

                <div class="d-flex flex-row flex-wrap intropage-enroll-date px-3 pt-3">
                    <div class="d-flex align-items-center">
                        <span class="text-muted mx-2 mb-2">De:</span>
                        <strong class="h3 mr-5 text-nowrap">{{enrolment.enrolstart}}</strong>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="text-muted mx-2 mb-2">Até:</span>
                        <strong class="h3">{{enrolment.enrolend}}</strong>
                    </div>
                </div>
            </div>
        </div>

        <!-- Detalhes -->
        <div class="intropage-section">
            <h3>Detalhes</h3>
            <p>{{summary}}</p>
        </div>

        <!-- Selos da ODS -->
        <div class="intropage-section">
            <h3>Objetivos de Desenvolvimento Sustentável (ODS)</h3>
            <div class="intropage-ods-badges">
                {{#customfields.ods}}
                    <div class="ods-badge">
                        <img src="{{plugin.baseurl}}/pix/sdg/SDG-{{.}}.svg" alt="ODS {{.}}" class="ods-badge">
                    </div>
                {{/customfields.ods}}
                {{^customfields.ods}}
                    <p>Nenhum ODS informado.</p>
                {{/customfields.ods}}
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="intropage-sidebar">
        <div class="intropage-button-collection">
            {{#customfields.edital.url}}
            <a href="{{customfields.edital.url}}" class="intropage-button bg-light border" target="_blank">
                <span class="text-dark">Edital</span> <i class="fa-solid fa-newspaper text-dark"></i>
            </a>
            {{/customfields.edital.url}}
            {{^customfields.edital.url}}
            <div class="intropage-button bg-light border">
                <span class="text-black-50">Edital Indisponível</span> <i class="fa-solid fa-newspaper text-black-50"></i>
            </div>
            {{/customfields.edital.url}}

            {{#enrol.button.url}}
            <a href="{{enrol.button.url}}" class="intropage-button">
                <span>{{enrol.button.text}}</span><i class="{{enrol.button.icon}}"></i>
            </a>
            {{/enrol.button.url}}
        </div>

        <div class="intropage-section m-0">
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-layer-group"></i>
                    <strong>Categoria:</strong>
                </div>
                <p class="intropage-info-text">{{category.path}}</p>
            </div>
        </div>
    </div>
</div>
