/* Estilo do cabeçalho da introdução */
.intropage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight-color);
  background: linear-gradient(
    to bottom,
    var(--primary-color-dark),
    var(--primary-color-darker)
  );
  padding: 90px 180px;
  margin-bottom: 1em;
  box-shadow: var(--box-shadow-heavy);
  text-align: center;
}

/* Container principal (conteúdo e barra lateral) */
.intropage-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 1200px;
}

/* ------------------------------------------------------- COLUNA PRINCIPAL ---------------------------------------------------- */

/* main container */
.intropage-main {
  flex: 4;
  margin: 0;
  padding: 0;
}

/* Título da introdução */
.intropage-section {
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  margin-bottom: 20px;
}

/* Detalhes título */
.intropage-title {
  color: var(--primary-color-dark) !important;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--title-line);
}

/* Resumo/descrição */
.intropage-summary {
  margin-bottom: 20px;
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--text-color-dark);
}

/* ---------------------------------------------------- Inscrições ---------------------------------------------------- */

.intropage-enroll-date strong {
  color: var(--primary-color-dark);
}

.intropage-item-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  text-align: center;
  padding: 6px 8px;
  background: linear-gradient(
    135deg,
    #057da620 0%,
    #001f2920 100%
  ); /* Degradê com as cores do site */
  border-radius: 100px;
  box-shadow: var(--box-shadow-heavy);
}

.intropage-date-continuous {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  margin: 0;
  color: var(--highlight-color);
  background: linear-gradient(
    135deg,
    #057da6bb 0%,
    #001f29ee 100%
  ); /* Degradê com as cores do site */
  padding: 10px;
  border-radius: 50px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------- SEÇÃO ODS ---------------------------------------------------- */

/* Seção dos Selos da ODS */

.intropage-ods-section h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color-dark);
}

.intropage-ods-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  padding-top: 1em;
}

.ods-badge {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/* ---------------------------------------------------- COLUNA LATERAL (SIDEBAR) ----------------------------------------------- */

/* Layout da barra lateral */
.intropage-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

/* Estilo geral dos itens na barra lateral */
.intropage-info-item {
  font-size: 1.1em;
  color: var(--secondary-color);
  line-height: 1.4;
}

.intropage-legend {
  font-size: x-small;
  padding-left: 2em;
}

/* Estilo do contêiner de ícone e texto */
.intropage-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  gap: 10px;
  padding: 0.3em 0;
  border-bottom: 1px solid var(--title-line);
}

/* Estilo do ícone */
.intropage-info-header i {
  font-size: 1em;
  color: var(--primary-color-dark);
}

/* Estilo do strong */
.intropage-info-header strong {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--primary-color-dark);
  margin-bottom: -0.35em;
}

.intropage-info-text {
  padding: 0.4em 0 1.4em 0.4em;
  margin: 0;
}

.intropage-info-item {
  flex: 3;
}

/* ---------------------------------------------------- BOTÃO NA SIDEBAR ------------------------------------------------------- */

/* Estiliza a coleção de botões */
.intropage-button-collection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os botões horizontalmente */
  gap: 10px;
  margin-bottom: 20px;
}

/* Botão estilizado */
.intropage-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza conteúdo */
  gap: 10px; /* Espaçamento entre o ícone e o texto */
  min-height: 50px;
  background-color: var(--primary-color-dark);
  color: var(--highlight-color) !important;
  font-weight: bold;
  padding: 12px 18px;
  text-decoration: none !important;
  border-radius: 8px; /* Mais suavizado */
  transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

/* Botões na barra lateral devem ocupar 100% do espaço */
.intropage-sidebar .intropage-button {
  width: 100%;
  min-height: 62px;
  font-size: 1.1rem;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row; /* Mantém alinhamento horizontal */
}

/* Botão "Voltar ao Catálogo" mantém tamanho fixo */
.intropage-back-button {
  max-width: 180px;
  min-width: 180px; /* Define um tamanho mínimo */
  padding: 12px 24px; /* Ajuste de padding */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Ícone dentro do botão */
.intropage-button i {
  font-size: 1.4em; /* Tamanho ajustado */
  padding: 0;
  margin-right: 6px; /* Espaço entre ícone e texto */
}

/* Texto dentro do botão */
.intropage-button span {
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
}

/* Botão: hover */
.intropage-button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05); /* Efeito de leve aumento */
}

.intropage-tags {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 0.7em;
  padding: 6px 12px;
  width: fit-content;
  background-color: var(--primary-color-dark);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 0.3rem;
}

.intropage-interest-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 4px;
}

/* ----------------------------------------------------- RESPONSIVIDADE ------------------------------------------------------- */

/* 🔹 Smartphones Médios (até 480px) */
@media (max-width: 480px) {
  .intropage-sidebar .intropage-button {
    width: 50%;
  }

  .intropage-big-word {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-wrap: break-word;
    font-size: 0.6em !important;
  }
}

/* 🔹 Smartphones Grandes (até 768px) */
@media (max-width: 768px) {
  .intropage-content {
    flex-direction: column-reverse;
  }

  .intropage-header {
    margin: 0;
    padding: 40px 20px;
  }

  .intropage-button-collection {
    flex-direction: row;
  }

  .intropage-big-word {
    font-size: 0.8em;
  }
}
